Source: presage
Section: devel
Priority: extra
Maintainer: Matteo Vescovi <matteo.vescovi@yahoo.co.uk>
Build-Depends: cdbs (>= 0.4.15),
	       debhelper (>= 5),
	       autotools-dev,
	       libsqlite3-dev,
	       sqlite3,
	       libtinyxml-dev (>= 2.5.3),
	       libncurses5-dev | libncurses-dev,
	       help2man,
	       libcppunit-dev (>= 1.9.6),
	       doxygen,
	       graphviz,
	       python-all-dev (>= 2.3.5-11),
	       python-support (>= 0.5.3),
	       swig,
	       libgtk2.0-dev (>= 2.12)
Standards-Version: 3.8.4
Homepage: http://presage.sourceforge.net/
Vcs-Svn: https://presage.svn.sourceforge.net/svnroot/presage/trunk
Vcs-Browser: http://presage.svn.sourceforge.net/viewvc/presage/trunk

Package: presage
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: presage-doc
Description: intelligent predictive text entry platform (tools and demos)
 This package contains the tools required to generate custom
 statistical data used by presage to generate predictions.
 .
 This package also contains simple demonstration programs and simulator.

Package: presage-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: presage
Description: intelligent predictive text entry platform (documentation)
 This package contains the documentation for presage.

Package: libpresage1
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
	 ${misc:Depends},
	 libpresage-data (= ${source:Version})
Description: intelligent predictive text entry platform (shared library)
 This package contains the shared library.

Package: libpresage-data
Section: libs
Architecture: all
Depends: ${misc:Depends}
Recommends: presage
Description: intelligent predictive text entry platform (data files)
 This package contains the sample statistical data files and
 abbreviation files needed by presage.

Package: libpresage-dev
Section: libdevel
Suggests: presage-doc
Architecture: any
Depends: libpresage1 (= ${binary:Version}), ${misc:Depends}, libc6-dev
Description: intelligent predictive text entry platform (development files)
 This package contains the development files (headers, static libraries).

Package: python-presage
Section: python
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: intelligent predictive text entry platform (Python binding)
 This package contains the Python binding.

Package: presage-gprompter
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: intelligent predictive GTK+ text editor
 This package contains the GTK+ predictive text editor gprompter.
 .
 gprompter is a cross-platform predictive text editor, based on
 presage, the intelligent predictive text entry platform.
 .
 gprompter displays predictions in a contextual pop-up box as each
 letter is typed. Predictions can be easily selected and inserted in
 the document.

Package: presage-pyprompter
Section: misc
Architecture: any
Depends: ${python:Depends},
	 ${misc:Depends},
	 python-presage (= ${binary:Version}),
	 python-wxgtk2.8 (>= 2.8.7)
Description: intelligent predictive wxPython text editor
 This package contains the wxPython predictive text editor pyprompter.
 .
 pyprompter is a cross-platform predictive text editor.
 .
 pyprompter displays predictions in a contextual pop-up box as each
 letter is typed. Predictions can be easily selected and inserted in
 the document.

