Source: presage
Section: devel
Priority: extra
Maintainer: Matteo Vescovi <matteo.vescovi@yahoo.co.uk>
Build-Depends: cdbs (>= 0.4.15),
	       debhelper (>= 5),
	       autotools-dev,
	       libsqlite3-dev | libsqlite-dev,
	       libncurses5-dev | libncurses-dev,
	       help2man,
	       libcppunit-dev (>= 1.9.6),
	       sqlite3 | sqlite,
	       doxygen,
	       graphviz,
	       python-all-dev (>= 2.3.5-11),
	       python-support (>= 0.5.3),
	       swig
Standards-Version: 3.7.3
Homepage: http://presage.sourceforge.net/
Vcs-Svn: https://presage.svn.sourceforge.net/svnroot/presage/trunk
Vcs-Browser: http://presage.svn.sourceforge.net/viewvc/presage/

Package: presage
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, presage-data
Suggests: presage-doc
Description: intelligent predictive text entry platform (tools and demos)
 Presage is an intelligent predictive text entry platform.
 .
 A predictive text entry system attempts to improve the ease and speed
 of textual input by predicting words. Word prediction consists in
 computing which word tokens or word completions are most likely to be
 entered next. The system analyses the text already entered and
 combines the information thus extracted with other information sources
 to calculate the set of most probable tokens.
 .
 Presage exploits redundant information embedded in natural
 languages to generate word predictions. The modular architecture
 allows its language model to be extended and customized to utilize
 statistical, syntactic, and semantic information sources.
 .
 This package contains the tools required to generate custom
 statistical data used by presage to generate predictions.
 .
 This package also contains simple demonstration programs.

Package: presage-data
Section: misc
Architecture: any
Recommends: presage
Description: intelligent predictive text entry platform (data files)
 Presage is an intelligent predictive text entry platform.
 .
 A predictive text entry system attempts to improve the ease and speed
 of textual input by predicting words. Word prediction consists in
 computing which word tokens or word completions are most likely to be
 entered next. The system analyses the text already entered and
 combines the information thus extracted with other information sources
 to calculate the set of most probable tokens.
 .
 Presage exploits redundant information embedded in natural
 languages to generate word predictions. The modular architecture
 allows its language model to be extended and customized to utilize
 statistical, syntactic, and semantic information sources.
 .
 This package contains the sample statistical data files and
 abbreviation files needed by presage.

Package: presage-doc
Section: doc
Architecture: all
Recommends: presage
Description: intelligent predictive text entry platform (documentation)
 Presage is an intelligent predictive text entry platform.
 .
 A predictive text entry system attempts to improve the ease and speed
 of textual input by predicting words. Word prediction consists in
 computing which word tokens or word completions are most likely to be
 entered next. The system analyses the text already entered and
 combines the information thus extracted with other information sources
 to calculate the set of most probable tokens.
 .
 Presage exploits redundant information embedded in natural
 languages to generate word predictions. The modular architecture
 allows its language model to be extended and customized to utilize
 statistical, syntactic, and semantic information sources.
 .
 This package contains the documentation for presage in HTML and
 LaTeX format.

Package: libpresage1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: intelligent predictive text entry platform (shared library)
 Presage is an intelligent predictive text entry platform.
 .
 A predictive text entry system attempts to improve the ease and speed
 of textual input by predicting words. Word prediction consists in
 computing which word tokens or word completions are most likely to be
 entered next. The system analyses the text already entered and
 combines the information thus extracted with other information sources
 to calculate the set of most probable tokens.
 .
 Presage exploits redundant information embedded in natural
 languages to generate word predictions. The modular architecture
 allows its language model to be extended and customized to utilize
 statistical, syntactic, and semantic information sources.
 .
 This package contains the shared library.

Package: libpresage-dev
Section: libdevel
Suggests: presage-doc
Architecture: any
Depends: libpresage1 (= ${binary:Version}), libc6-dev
Description: intelligent predictive text entry platform (development files)
 Presage is an intelligent predictive text entry platform.
 .
 A predictive text entry system attempts to improve the ease and speed
 of textual input by predicting words. Word prediction consists in
 computing which word tokens or word completions are most likely to be
 entered next. The system analyses the text already entered and
 combines the information thus extracted with other information sources
 to calculate the set of most probable tokens.
 .
 Presage exploits redundant information embedded in natural
 languages to generate word predictions. The modular architecture
 allows its language model to be extended and customized to utilize
 statistical, syntactic, and semantic information sources.
 .
 This package contains the development files (headers, static libraries).

Package: python-presage
Section: python
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
Description: intelligent predictive text entry platform (Python binding)
 Presage is an intelligent predictive text entry platform.
 .
 A predictive text entry system attempts to improve the ease and speed
 of textual input by predicting words. Word prediction consists in
 computing which word tokens or word completions are most likely to be
 entered next. The system analyses the text already entered and
 combines the information thus extracted with other information sources
 to calculate the set of most probable tokens.
 .
 Presage exploits redundant information embedded in natural
 languages to generate word predictions. The modular architecture
 allows its language model to be extended and customized to utilize
 statistical, syntactic, and semantic information sources.
 .
 This package contains the Python binding.
