Source: soothsayer
Section: devel
Priority: extra
Maintainer: Matteo Vescovi <matteo.vescovi@yahoo.co.uk>
Build-Depends: cdbs (>= 0.4.15), debhelper (>= 5), autotools-dev, libsqlite-dev, libncurses-dev, doxygen
Standards-Version: 3.7.2

Package: soothsayer
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, soothsayer-data
Suggests: soothsayer-doc
Description: The intelligent predictive text entry platform
 Soothsayer is an intelligent predictive text entry
 platform. Soothsayer exploits redundant information embedded in
 natural languages to generate predictions. Soothsayer's modular and
 pluggable architecture allows its language model to be extended and
 customized to utilize statistical, syntactic, and semantic information
 sources.

Package: soothsayer-data
Section: misc
Architecture: any
Depends: ${shlibs:Depends}
Recommends: soothsayer
Description: The intelligent predictive text entry platform data
 Soothsayer is an intelligent predictive text entry
 platform. Soothsayer exploits redundant information embedded in
 natural languages to generate predictions. Soothsayer's modular and
 pluggable architecture allows its language model to be extended and
 customized to utilize statistical, syntactic, and semantic information
 sources.

Package: soothsayer-doc
Section: doc
Architecture: all
Recommends: soothsayer
Description: The intelligent predictive text entry platform documentation
 Soothsayer is an intelligent predictive text entry
 platform. Soothsayer exploits redundant information embedded in
 natural languages to generate predictions. Soothsayer's modular and
 pluggable architecture allows its language model to be extended and
 customized to utilize statistical, syntactic, and semantic information
 sources.

Package: libsoothsayer0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: The intelligent predictive text entry platform shared library
 Soothsayer is an intelligent predictive text entry
 platform. Soothsayer exploits redundant information embedded in
 natural languages to generate predictions. Soothsayer's modular and
 pluggable architecture allows its language model to be extended and
 customized to utilize statistical, syntactic, and semantic information
 sources.

Package: libsoothsayer0-dev
Section: libdevel
Suggests: soothsayer-doc
Architecture: any
Depends: libsoothsayer0 (= ${Source-Version}), libc6-dev
Description: The intelligent predictive text entry platform development files
 Soothsayer is an intelligent predictive text entry
 platform. Soothsayer exploits redundant information embedded in
 natural languages to generate predictions. Soothsayer's modular and
 pluggable architecture allows its language model to be extended and
 customized to utilize statistical, syntactic, and semantic information
 sources.
