[Desktop Entry]
Name=pyprompter
GenericName=Predictive text editor
Comment=Predictive text editor powered by presage
Keywords=presage;text prediction;predictive text
Exec=pyprompter
Icon=pyprompter
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Accessibility;TextEditor;ArtificialIntelligence
